services:
  mongo:
    image: mongo:latest
    ports:
      - "27018:27017"
    networks:
      - hhhelp-net

  redis:
    image: redis:latest
    ports:
      - "6380:6379"
    networks:
      - hhhelp-net

networks:
  hhhelp-net:
    driver: bridge