# service.yml for 'view'
use-template: x-frontend-service
environment:
  SERVICE_PORT: 3005
networks:
  - frontend
  - backend
ports:
  - "3005:3005"
labels:
  - "traefik.enable=true"
  - "traefik.http.routers.hhhelp-view.rule=Host(`192.168.0.109`) && PathPrefix(`/hhhelp`)"
  - "traefik.http.routers.hhhelp-view.entrypoints=web,websecure"
  - "traefik.http.routers.hhhelp-view.tls=true"
  - "traefik.http.middlewares.hhhelp-stripprefix.stripprefix.prefixes=/hhhelp"
  - "traefik.http.routers.hhhelp-view.middlewares=hhhelp-stripprefix"
  - "traefik.http.services.hhhelp-view.loadbalancer.server.port=3005"
healthcheck:
  test: [ "CMD", "curl", "-f", "http://localhost:3005/" ]
  interval: 30s
  timeout: 5s
  retries: 5
  start_period: 30s
